form {
  height: 50px;
  margin: 10px auto 50px;
}

input,
button {
  border: none;
  outline: none;
  height: 100%;
}

input {
  width: 80%;
  padding: 0 18px;
  background: #17242a;
  color: #f9f9f9;
  border: none;
}

input::placeholder {
  color: #696f77;
}

button {
  width: 20%;
  background: #2a7877;
  font-family: "Archivo Black", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  transition: all 200ms;
}

button:hover {
  background: #def1f3;
  color: #17242a;
}
