.todo p {
  font-size: 20px;
  color: white;
}

.todo p small {
  font-size: 11px;
  display: block;
  margin-top: 10px;
  color: #ccc;
}

i {
  cursor: pointer;
  margin: 10px 0 10px 20px;
  color: #def1f3;
}

i:hover {
  color: white;
}
