.modalContainer {
  width: 100%;
}

.modalContainer .modalContent {
  width: 60%;
  margin: 0 20%;
  color: white;
  padding: 50px;
}

.modalContainer .modalContent i {
  float: right;
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 40px;
}

.modalContainer .modalContent h2 {
  text-align: center;
  margin: 40px auto;
}

.modalContainer .modalContent input {
  width: 70%;
  background: #3aafa9;
}

.modalContainer .modalContent button {
  width: 14%;
  border-left: 1% solid white;
}
